html {
    background-color: #393939;
}

a.nav-link.active {
    background-color: #009848 !important;
    color: white;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
    #logoTitle {
        display: none !important;
    }

    .container {
        margin: 0 !important;
    }

    #dropdownLogos {
        display: flex;
        align-items: center;
    }
}