* {
    font-family: 'Montserrat', sans-serif;
    background-color: #393939;
    color: white;
}

html {
    background-color: #393939;
}

#companyLogo {
    max-height: 44px;
}

#logoTitle {
    border-bottom: #009848 .2rem solid;
}

#logoTitle > a {
    width: auto;
}

a.nav-link {
    opacity: 0.5;
    transition: border-bottom .25s ease;
}

a.nav-link:hover {
    border-bottom: .15rem solid;
    border-bottom-color: white;
}

a.nav-link.active {
    opacity: 1;
    border-bottom: .15rem solid;
    border-bottom-color: #009848;
    color: white;
}

#desktopView {
    padding: 0;
} 

#banner {
    height: 50rem;
    background-image: url("/honeyHouse.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 50%;
}

#bannerText {
    padding-right: 0rem;
}

#innerBanner {
    backdrop-filter: blur(5px);
}

#bannerButtons > button {
    border: 2px black solid;
}

#servicesContainer {
    border-top: #009848 .2rem solid;
    border-bottom: #009848 .2rem solid;
}