* {
    font-family: 'Montserrat', sans-serif;
    background-color: #393939;
    color: white;
}

html {
    background-color: #393939;
}

#companyLogo {
    max-height: 44px;
}

#logoTitle {
    border-bottom: #009848 .2rem solid;
}

#logoTitle > a {
    width: auto;
}

a.nav-link {
    opacity: 0.5;
    transition: border-bottom .25s ease;
}

a.nav-link:hover {
    border-bottom: .15rem solid;
    border-bottom-color: white;
}

a.nav-link.active {
    opacity: 1;
    border-bottom: .15rem solid;
    border-bottom-color: #009848;
    color: white;
}

#desktopView {
    padding: 0;
} 

#banner {
    height: 50rem;
    background-image: url("/honeyHouse.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: 50%;
}

#innerBanner > h1 {
    font-size: 5rem;
}

#innerBanner > h5 {
    font-size: 2rem;
}

#bannerText {
    padding-right: 0rem;
}

#servicesContainer, #servicesContainerMedium, #servicesContainerSmall{
    border-top: #009848 .2rem solid;
    border-bottom: #009848 .2rem solid;
}

#lightbulb {
    transform: translate(38px);
}

#lightbulbMobile {
    transform: translate(27px);
}

#eyeball {
    transform: translate(123px);
}

#eyeballMobile {
    transform: translate(76px);
}

@media screen and (max-width: 1200px) {

    #banner {
        background-size: 145%;
        background-position-x: 50%;
    }

    #innerBanner > h1 {
        font-size: 4rem;
    }

    #innerBanner > h5 {
        font-size: 1.5rem;
    }

    #bannerButtons > a {
        font-size: 1rem;
    }

    #lightbulb {
        transform: translate(34px);
    }
    
    #eyeball {
        transform: translate(89px);
    }

    #servicesContainer {
        display: none;
    }

}

@media screen and (min-width: 1200px) {

    #servicesContainerMedium {
        display: none;
    }

}

@media screen and (max-width: 992px) {

    #servicesContainer {
        display: none;
    }

    #servicesContainerMedium {
        display: none;
    }

    #innerBanner > h1 {
        font-size: 3rem;
    }

    #innerBanner > h5 {
        font-size: 1.25rem;
    }

    #bannerButtons > a {
        font-size: .75rem;
    }

    #lightbulb {
        transform: translate(32px);
    }
    
    #eyeball {
        transform: translate(72px);
    }

}

@media screen and (min-width: 993px) {
    
    #servicesContainerSmall {
        display: none;
    }

}

@media screen and (min-width: 768px) {

    #mobileView {
        display: none;
    }

    #companyLogo {
        max-height: 44px !important;
    }

}

@media screen and (max-width: 768px) {

    #companyLogo {
        max-height: 30px;
    }

}